<main>
    <div class='container'>
        <div class="d-flex justify-content-center mt-5" ng-if="$ctrl.employeesService.isLoading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5" ng-if="!$ctrl.employeesService.listEmployees.length && !$ctrl.employeesService.isLoading">
            <div class="card text-center w-100">
                <div class="card-header">
                    Oops...
                </div>
                <div class="card-body">
                    <h5 class="card-title">A table is empty :(</h5>
                    <button class="btn btn-info" ng-click="$ctrl.getEmployees()">GET DATA</button>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover" ng-if="$ctrl.employeesService.listEmployees.length">
            <thead>
            <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" ng-checked="$ctrl.employeesService.isCheckboxAll" id="customCheck" ng-click="$ctrl.employeesService.checkAllCheckboxes()">
                        <label class="custom-control-label" for="customCheck"></label>
                    </div>
                </th>
                <th scope="col">Name</th>
                <th scope="col">Salary</th>
                <th scope="col">Age</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in $ctrl.employeesService.listEmployees.slice().reverse()">
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" ng-model="employee.selected" ng-change="$ctrl.employeesService.selectEmployee(employee)" id="customCheck{{employee.id}}">
                        <label class="custom-control-label" for="customCheck{{employee.id}}"></label>
                    </div>
                </td>
                <td ng-if="!editToggle">{{employee.employee_name}}</td>
                <td ng-if="!editToggle">{{employee.employee_salary | currency: '$' : false}}</td>
                <td ng-if="!editToggle">{{employee.employee_age}}</td>

                <td ng-if="editToggle" scope="col">
                    <input type="text" class="form-control form-control-sm input-table" ng-model="employee.employee_name" placeholder="Name" required>
                </td>
                <td ng-if="editToggle" scope="col">
                    <input type="text" class="form-control form-control-sm input-table" ng-model="employee.employee_salary" placeholder="Salary" required>
                </td>
                <td ng-if="editToggle" scope="col">
                    <input type="text" class="form-control form-control-sm input-table" ng-model="employee.employee_age" placeholder="Name" required>
                </td>

                <td ng-show="!editToggle">
                    <button class="btn btn-info badge" ng-click="$ctrl.employeesService.editItem(employee); editToggle = !editToggle"><i class="fas fa-pencil-alt mr-1"></i>Edit</button>
                    <button class="btn btn-danger badge" ng-click="$ctrl.employeesService.deleteEmployee(employee)"><i class="fas fa-trash-alt mr-1"></i>Delete</button>
                </td>
                <td ng-show="editToggle">
                    <button class="btn btn-info badge" ng-click="$ctrl.employeesService.updateEmployee(employee); editToggle = !editToggle"><i class="fas fa-check-circle mr-1"></i>OK</button>
                    <button class="btn btn-danger badge" ng-click="$ctrl.employeesService.cancelEdit(employee); editToggle = !editToggle"><i class="fas fa-times-circle mr-1"></i>Cancel</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>